*{
margin:0px;
border:0px;
}

body
{
background-image:url(../images/bg.jpeg');
}

#container
{
margin:10%;
}

#header
{
background-color:yellow;
}

#countdown
{
color: green;
background-color: #D1D1D1; 
padding:75px;

text-align:center;
}

a
{
color:green;
}

table
{
width:900px;
height:100px;
}

